/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light background color */
  height: 100vh; /* Fill the viewport height */
  width: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Occupy full screen */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #3f51b5;
  color: white;
}

.navbar h3 {
  margin: 0;
  font-size: 24px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
